In [34]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [3]:
train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [5]:
from sklearn.impute import SimpleImputer
imputer=SimpleImputer(strategy="mean")
imputer_cat=SimpleImputer(strategy="most_frequent")
train["Age"]=imputer.fit_transform(train[['Age']])
#train["Embarked"]=imputer_cat.fit_transform(train[['Embarked']])

In [7]:
train[['Embarked']]=imputer_cat.fit_transform(train[['Embarked']])

In [8]:
train.shape

(891, 12)

In [9]:
train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [10]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [35]:
from sklearn.preprocessing import StandardScaler,LabelEncoder
encoder=LabelEncoder()
train['Sex']=encoder.fit_transform(train[['Sex']])
train['Embarked']=encoder.fit_transform(train[['Embarked']])

In [12]:
def drop(data):
    data=data.drop(columns=['Name','PassengerId','Ticket','Cabin'])
    return data

In [13]:
data=drop(train)

In [14]:
data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(data.drop('Survived',axis=1),data.Survived,test_size=0.2,random_state=42)
x_train.shape,x_test.shape

((712, 7), (179, 7))

In [19]:
x_train.shape,x_test.shape

((712, 7), (179, 7))

In [20]:
#Bagging
#Boosting
#Stacking
#Voting
#Blending

In [23]:
from sklearn.ensemble import VotingClassifier,BaggingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
log_clf=LogisticRegression()
svc=SVC()
dtc=DecisionTreeClassifier()
bagging=BaggingClassifier(estimator=DecisionTreeClassifier())
voting=VotingClassifier(estimators=[('lg',log_clf),('svc',svc),('dc',dtc)],voting='hard')

In [38]:
estimators=[
    ("LogisticRegression",LogisticRegression()),
    ("SVC",SVC()),
    ("DecisionTreeClassifier",DecisionTreeClassifier())
]
for name,estimator in estimators:
    bagging=BaggingClassifier(estimator=estimator,n_estimators=20,random_state=42)
    bagging.fit(x_train,y_train)
    print(f"Bagging with {name}: ",accuracy_score(bagging.predict(x_test),y_test))

Bagging with LogisticRegression:  0.8100558659217877
Bagging with SVC:  0.6536312849162011
Bagging with DecisionTreeClassifier:  0.770949720670391

In [37]:
for name,clf in estimators:
    clf.fit(x_train,y_train)
    y_predict=clf.predict(x_test)
    print(f"{name}",accuracy_score(y_test,y_predict))

LogisticRegression 0.8100558659217877
SVC 0.659217877094972
DecisionTreeClassifier 0.7877094972067039